@import url('https://fonts.googleapis.com/css?family=Karma|Roboto:700');

*{
	padding: 0;
	margin: 0;
}

header {
	background-color: #FFF;
	background-size: cover;
	padding: 0% 3%;
	float: left
}

nav{
	background-color: #FFF;
	background-size: cover;
	padding: 3%
	float: right;
}

nav a {
  	text-decoration: none;
  	color: #000000;
  	margin: 1% 20px;
  	display: inline-block;
  	float: left;
}

nav a:hover {
	color: #3c80c6
}

main {
	background: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)), url(../images/lawyer.jpg);
	background-size: cover;
	padding: 2%;
	float: left;
}

aside {
	padding: 4%;
	font-family: 'Karma', serif;
	font-size: 1.2em;
	line-height: 1.5em;
}

h1, h2, h3 {
	text-transform: uppercase;
}

h1 { 
	color: #3c80c6;
	font-family: 'Roboto', sans-serif;
	font-size: 3em;
	font-weight: bold;
	text-align: center;
	margin: 2%;
}

h2, h3 {
	color: #000;
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	text-align: center;
	margin: 1%;
}

body {
	color: #000;
	font-family: Arial, sans-serif;
	font-size: 18px
}

section {
	background-color: #FFE2B8;
	background-size: cover;
	padding: 2%;
}

p {
	font-family: 'Karma', serif;
	font-size: 1.2em;
	line-height: 1.5em;
	padding: 3%;
}

ul {
	font-weight: bold;
	font-family: 'Karma', serif;
	line-height: 2em;
	list-style: disc;
}

a {
	color: #3c80c6;
	text-decoration: none;
	font-weight: bold;
 }

footer {
	text-align: center;
	background-color: #d9d9d9;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#scales{
	width: 25%;
}

#two_column {
    padding: 2%;
}

#left {
    padding: 2%;
    float: left;
    width: 30%;
}

#right {
    padding: 4% 3%;
    float: right;
    width: 60%;
}

#sample {
	background-color: #a8a8a8;
	padding: 2% 5.5%;
	clear: both;
}

#content {
	background-color: #FFF;
	padding: 3% 7%;
}

#reviews {
	background-color: #3c80c6;
	padding: 3% 4%;
}

#columnone {
	width: 25%;
	background-color: #FFF;
	float: left;
	clear: both;
}

#columntwo {
	width: 100%;
	background-color: #FFF;
}

#author {
	background-color: #FFF;
	padding: 3% 5%;
}

#summer {
	padding: 14% 9%;
	float: left;
}

@media only screen and (max-width:800px) {
	nav {
		float: none;
	}

	nav a {
		margin: 0 1.6em .75em 0;
	}
}

@media only screen and (max-width:400px) {
	h1, nav {
    display: block;
    text-align: center;
	}
}

